/*html*/
div.popbox1{
            display: none;
            position: absolute;
            z-index: 99999;
            width: 145px;
            height:125px;
            padding: 10px;
            background: #FFFFCB;   
            border-radius: 5px;
            color: #000000;
            border: 1px solid #4D4F53;
            margin: -45px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
            box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
            }

div.popper {
            float:right;
            width:120px;
           }

div.diff   {
            float:right;
           }