body.packaging-map {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

body.packaging-map #description {
  position: absolute;
  background: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

ul.nav-tabs > li > a._has-error,
div#tabs > a._has-error {
  color: #f56b6b;
}

._v1 .attention {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

._v1 .attention div:first-child {
  margin-top: 5px;
  margin-bottom: 15px;
}

#license .panel-heading, #license.attention {
  background-repeat: no-repeat;
  background-origin: content-box;
}

._v1 #license .panel-heading, ._v1 #license.attention {
  background-position: right top;
  padding: 15px;
}

._v2 #license .panel-heading, ._v3 #license .panel-heading, ._v2 #license.attention, ._v3 #license.attention {
  background-position: right center;
}

.license__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

#standard-boxes-checked, #standard-boxes-unchecked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#standard-boxes-checked > h4, #standard-boxes-unchecked > h4 {
  width: 100%;
}

.standard-box {
  width: 200px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 5px;
  cursor: pointer;
}

.standard-box > .standard-box__image-holder {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  z-index: 9999;
}

.standard-box > .standard-box__image-holder > img {
  max-width: 180px;
}

.standard-box > .standard-box__image-holder > .standard-box__checker {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 50px;
  background: #fcfcfc;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 30px;
  line-height: 50px;
}

.standard-box > .standard-box__image-holder > .standard-box__checker._checked {
  background: rgba(0, 200, 0, 0.7);
  color: white;
}

.standard-box > .standard-box__image-holder > .standard-box__checker:before {
  content: '\2714';
}

.standard-box > .standard-box__caption > .standard-box__title {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #000;
  font-weight: 400;
}

#holidays__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.holidays__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 16%;
          flex: 1 16%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  margin: 1px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1200px) {
  .holidays__month {
    -webkit-box-flex: 1;
        -ms-flex: 1 32%;
            flex: 1 32%;
  }
}

.holidays__month._active {
  background-color: rgba(0, 140, 255, 0.3);
}

.holidays__month._active .holidays_add {
  display: none;
}

.holidays__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.holidays__item {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 2px;
  padding: 1px 3px;
  color: black;
}

.holidays__edit {
  position: absolute;
  bottom: 50%;
  width: calc(100% + 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  height: 30px;
  margin-bottom: -15px;
  border: 1px solid white;
  z-index: 999;
}

.holidays__edit > input {
  height: 100%;
  margin: 0;
  border: none;
  width: calc(100% - 30px);
  outline: none;
  color: black;
}

.holidays__edit > button {
  height: 100%;
  margin: 0;
  border: none;
  width: 30px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
}

select.google-holidays {
  width: auto;
  display: inline-block;
}

input.form-control.small-number {
  width: 60px;
  text-align: right;
  display: inline-block;
}

input.form-control.holiday {
  width: 80px;
  display: inline-block;
}

.input-group {
  white-space: nowrap;
}

#content .input-group.small-number {
  width: 100px;
}

.input-group.small-number > input {
  text-align: right;
}

._v1 .input-group.small-number > input {
  width: 80px;
}

.insurance__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.insurance__holder .input-group.insurance__from {
  width: 250px;
  margin-left: 20px;
}

.insurance__holder .input-group.insurance__from > input {
  text-align: right;
}

._v1 .insurance__holder .input-group.insurance__from > input {
  width: 80px;
}

.weight-based-faked-box__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.weight-based-faked-box__holder .input-group.weight-based-faked-box__dimension {
  width: 120px;
  margin-right: 10px;
}

._v1 .weight-based-faked-box__holder .input-group.weight-based-faked-box__dimension {
  margin-right: 0;
}

.weight-based-faked-box__holder .input-group.weight-based-faked-box__dimension > input {
  text-align: right;
}

._v1 .weight-based-faked-box__holder .input-group.weight-based-faked-box__dimension > input {
  width: 100px;
}

#content._v2 .btn-group > .btn.active,
#content._v3 .btn-group > .btn.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#content._v2 .btn-group > .btn.active:hover,
#content._v3 .btn-group > .btn.active:hover {
  background-color: #286090;
  border-color: #204d74;
}

input[type="checkbox"] {
  margin-right: 5px;
}

#content._v2 input[type="checkbox"], #content._v3 input[type="checkbox"] {
  vertical-align: top;
}

textarea.form-control.dates {
  width: 235px;
  height: 120px;
}

.form-horizontal .control-label {
  text-align: left;
}

.services td {
  border: none !important;
  padding: 8px;
  vertical-align: top !important;
}

.services .services__service {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: larger;
}

.services .services__group {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 700;
}

.adjustment-rule {
  padding: 10px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 10px;
}

.adjustment-rule__label {
  font-size: 14px;
  font-weight: bold;
}

.adjustment-rule__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 10px 0 10px 20px;
}

.adjustment-rule__row._hidden {
  display: none;
}

.adjustment-rule__row .adjustment-rule__col {
  -ms-flex-preferred-size: 190px;
      flex-basis: 190px;
  margin-right: 20px;
}

.adjustment-rule__master {
  margin-top: 10px;
  width: 100%;
}

.adjustment-rule__field._inactive {
  color: #999 !important;
}

.adjustment-rule__field._inactive .input-group-addon {
  color: #999 !important;
}

.adjustment-rule__field + .adjustment-rule__field {
  margin-top: 10px;
}

.adjustment-rule__hint {
  font-size: 10px;
}

.adjustment-rule__caption {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.adjustment-rule__select {
  vertical-align: middle;
}

._v2 .adjustment-rule__select, ._v3 .adjustment-rule__select {
  font-size: 22px;
}

.adjustment-rule__multiselect {
  height: 120px !important;
  width: 100%;
}

.adjustment-rule__group {
  display: inline-block;
  vertical-align: middle;
}

.adjustment-rule__remove {
  display: inline-block;
  margin-top: 10px;
}

#import-settings {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted navy;
  cursor: pointer;
}

#import-settings._hover {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px dashed darkgray;
  line-height: 200px;
  text-align: center;
  z-index: 9999;
  background: aliceblue;
  margin-top: -100px;
}

#upload {
  display: none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 15vh;
  left: 0;
  right: 0;
  padding: 25px;
  background-color: white;
  width: 60vw;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 9999;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

#upload__title {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

#upload__cancel {
  position: absolute;
  font-size: large;
  right: 10px;
  top: 10px;
  cursor: pointer;
  padding: 5px;
}

.upload__notice {
  text-align: center;
}

#upload__submit {
  padding-top: 15px;
  text-align: center;
}

.packaging-list__wrapper {
  max-width: 66.6%;
  margin: 0 auto;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Arial, sans-serif;
}

@media (max-width: 1100px) {
  .packaging-list__wrapper {
    max-width: 100%;
  }
}

.packaging-list__export {
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 11px 15px;
  border: 1px dotted silver;
  margin: 5px;
}

@media print {
  .packaging-list__export {
    display: none;
  }
}

@media (max-width: 991px) {
  .packaging-list__export {
    top: auto;
    bottom: 0;
  }
}

.packaging-list__export li {
  list-style: none;
  margin: 4px 0;
}

.packaging-list__export img {
  vertical-align: top;
  width: 16px;
  margin-right: 2px;
}

.packaging-list__export a {
  color: navy;
}

.packaging-list__title {
  text-align: center;
  margin-bottom: 0;
}

.packaging-list__method {
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

.packaging-list__box {
  border-bottom: 1px solid silver;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.packaging-list__box-image-holder {
  min-width: 250px;
}

.packaging-list__box-image-holder > img {
  max-width: 200px;
}

.packaging-list__info-holder {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.packaging-list__info-holder > pre {
  white-space: normal;
  font-size: 12px;
  background-color: rgba(255, 200, 200, 0.3);
  padding: 10px;
}

.packaging-list__box-heading {
  margin: 0;
  font-family: sans-serif;
}

.packaging-list__box-heading > .packaging-list__box-title {
  padding-right: 10px;
  white-space: nowrap;
}

.packaging-list__box-heading > .packaging-list__box-dimensions-and-weight {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  vertical-align: middle;
  white-space: nowrap;
}

.packaging-list__box-tracking {
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin-top: 5px;
  font-family: monospace;
  border: none;
  width: 100%;
  cursor: text;
}

.packaging-list__box-content {
  margin-bottom: 0;
  font-family: Georgia, Serif;
  list-style: none;
  padding: 0;
}

.packaging-list__box-content > li {
  margin-bottom: 10px;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.packaging-list__box-content > li > a {
  color: navy;
}

.packaging-list__box-content > li > span {
  color: #999;
  font-size: 70%;
  font-family: Arial, sans-serif;
}

.packaging-list__all-labels {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  background-color: #2196F3;
  color: #FFF;
  font-size: 100%;
  margin-bottom: 10px;
  max-width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.packaging-list__all-labels:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

@media print {
  .packaging-list__all-labels {
    display: none;
  }
}

.packaging-list__box-controls-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 10px;
  padding-left: 10px;
  white-space: nowrap;
  max-width: 200px;
}

@media print {
  .packaging-list__box-controls-holder {
    display: none;
  }
}

.packaging-list__box-controls-holder .packaging-list__box-document-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.packaging-list__box-controls-holder .packaging-list__box-document-title div {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.packaging-list__box-controls-holder button {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  background-color: #2196F3;
  color: #FFF;
  font-size: 100%;
  margin-bottom: 10px;
}

.packaging-list__box-controls-holder button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.packaging-list__box-controls-holder button.packaging-list__box-void {
  background-color: #c9302c;
}

.packaging-list__box-controls-holder button.packaging-list__box-map {
  background-color: #008b8b;
}

.packaging-list__box-controls-holder button._page {
  margin-left: 3px;
  margin-right: 3px;
}

.document-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.document-wrapper__controls {
  height: 60px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 999;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.document-wrapper__controls._absolute {
  position: absolute;
  left: 0;
  top: 5;
  right: 0;
}

@media print {
  .document-wrapper__controls {
    display: none;
  }
}

.document-wrapper__controls > button {
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  background-color: #2196F3;
  color: #FFF;
  font-size: 100%;
  margin-bottom: 10px;
  width: 25%;
  margin-right: 10px;
}

.document-wrapper__controls > button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.4);
}

.document-wrapper__document {
  width: 100%;
  border: 0;
}

.document-wrapper__document._absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  bottom: 0;
}

iframe.document-wrapper__document {
  height: 100%;
}

div.document-wrapper__document {
  text-align: center;
}

div.document-wrapper__document img {
  max-height: 100%;
  max-width: 100%;
}
