<?php echo $header; ?>
<?php echo $column_left; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <!-- <button type="submit" form="form-affiliate" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i>
                </button> -->
                <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1><?php echo $heading_title; ?></h1>
            <ul class="breadcrumb">
                <?php foreach ($breadcrumbs as $breadcrumb) { ?>
                <li>
                    <a href="<?php echo $breadcrumb['href']; ?>">
                        <?php echo $breadcrumb[ 'text']; ?>
                    </a>
                </li>
                <?php } ?>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <?php if ($error_warning) { ?>
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
            <?php echo $error_warning; ?>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <?php } ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
            </div>
            <div class="panel-body">
                <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-affiliate" class="form-horizontal">
                    <div class="tab-content">
                        <div class="tab-panel">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-commission">
                                    <?php echo $entry_amountCalc; ?>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="amountcalc" value="<?php echo $affiliates['mta_commission']; ?>" placeholder="<?php echo $entry_amountCalc; ?>" id="input-commission" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-tax">
                                    <?php echo $entry_amountSent; ?>
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" name="amountsent" value="<?php echo $affiliates['mta_commission']; ?>" placeholder="<?php echo $entry_amountSent; ?>" id="input-tax" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <?php echo $entry_payment; ?>
                                </label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <?php if ($payment=='cheque' ) { ?>
                                            <input type="radio" name="payment" value="cheque" checked="checked" />
                                            <?php } else { ?>
                                            <input type="radio" name="payment" value="cheque" />
                                            <?php } ?>
                                            <?php echo $text_cheque; ?>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <?php if ($payment=='bank' ) { ?>
                                            <input type="radio" name="payment" value="bank" checked="checked" />
                                            <?php } else { ?>
                                            <input type="radio" name="payment" value="bank" />
                                            <?php } ?>
                                            <?php echo $text_bank; ?>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-tax">
                                    <?php echo $entry_paymentRef; ?>
                                </label>
                                <div class="col-sm-10">
                                    <textarea name="paymentref" class="form-control" value="<?php echo paymentref ?>"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-tax">
                                    <?php echo $entry_PaymentNote; ?>
                                </label>
                                <div class="col-sm-10">
                                    <textarea name="paymentnote" class="form-control">
                                        <?php echo $paymentnote ?>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="pull-right">
                                <button type="submit" form="form-affiliate" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php echo $footer.die; ?>