<!DOCTYPE html>
<?php
if (!defined('JOURNAL_INSTALLED')) {
echo '
<h3>Journal Installation Error</h3>
<p>Make sure you have uploaded all Journal files to your server and successfully replaced <b>system/engine/front.php</b> file.</p>
<p>Please read this: <a href="http://docs.digital-atelier.com/opencart/journal/#/settings/install" target="_blank">here</a>.</p>
';
exit();
}
if (!$currency) {
$this->journal2->html_classes->addClass('no-currency');
}
if (!$language) {
$this->journal2->html_classes->addClass('no-language');
}

?>

<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="<?php echo $this->journal2->html_classes->getAll(); ?>" data-j2v="<?php echo JOURNAL_VERSION; ?>">
    <head>
        <meta charset="UTF-8" />
        <?php if ($this->journal2->settings->get('responsive_design', '1') === '1'): ?>
        <?php if ($this->journal2->settings->get('pinch_zoom', '1') === '1'): ?>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <?php else: ?>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php endif; ?>
        <?php endif; ?>
        <meta name="google-site-verification" content="hjr_iwxNJG6XumeKUsANlaAymu4LBnlRs_OLLQVIJvw" />
        <meta name="format-detection" content="telephone=no">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
        <title><?php echo $title; ?></title>
        <base href="<?php echo $base; ?>" />
        <?php if ($meta_title = $this->journal2->settings->get('blog_meta_title')): ?>
        <meta name="title" content="<?php echo $meta_title; ?>" />
        <?php endif; ?>
        <?php if ($description) { ?>
        <meta name="description" content="<?php echo $description; ?>" />
        <?php } ?>
        <?php if ($keywords) { ?>
        <meta name="keywords" content="<?php echo $keywords; ?>" />
        <?php } ?>


        <?php foreach ($this->journal2->settings->get('share_metas', array()) as $sm): 
        if( $sm['type'] == "og:image" && $custom_logo ){ ?>
        <meta property="og:image" content="<?php echo $base;?>image/data/<?php echo $custom_logo; ?>" />
        <?php } else { ?>
        <meta <?php echo $sm['key']; ?>="<?php echo $sm['type']; ?>" content="<?php echo $sm['content']; ?>" />
            <?php } ?>
            <?php endforeach ; ?>


            <?php if (version_compare(VERSION, '2.1', '<')): ?>
            <?php if ($icon) { ?>
            <link href="<?php echo $icon; ?>" rel="icon" />
        <?php } ?>
        <?php endif; ?>
        <?php if ($blog_feed_url = $this->journal2->settings->get('blog_blog_feed_url')): ?>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="<?php echo $blog_feed_url; ?>" />
        <?php endif; ?>
        <?php foreach ($links as $link) { ?>
        <link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
        <?php } ?>
        <?php foreach ($styles as $style) { ?>
        <?php $this->journal2->minifier->addStyle($style['href']); ?>
        <?php } ?>
        <?php foreach ($this->journal2->google_fonts->getFonts() as $font): ?>
        <link rel="stylesheet" href="<?php echo $font; ?>"/>
        <?php endforeach; ?>
        <?php foreach ($scripts as $script) { ?>
        <?php $this->journal2->minifier->addScript($script, 'header'); ?>
        <?php } ?>
        <?php
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/hint.min.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/journal.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/features.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/header.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/module.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/pages.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/account.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/blog-manager.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/side-column.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/product.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/category.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/footer.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/icons.css');
        if ($this->journal2->settings->get('responsive_design')) {
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/responsive.css');
        }
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/flex.css');
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/rtl.css');
        ?>
        <?php echo $this->journal2->minifier->css(); ?>
        <?php if ($this->journal2->cache->getDeveloperMode() || !$this->journal2->minifier->getMinifyCss()): ?>
        <link rel="stylesheet" href="index.php?route=journal2/assets/css&amp;j2v=<?php echo JOURNAL_VERSION; ?>" />
        <?php endif; ?>
        <?php $this->journal2->minifier->addScript('catalog/view/theme/journal2/js/journal.js', 'header'); ?>
        <?php if ($this->journal2->minifier->loadGoogleRecaptcha()): ?>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <?php endif; ?>
        <?php echo $this->journal2->minifier->js('header'); ?>
        <!--[if (gte IE 6)&(lte IE 8)]><script src="catalog/view/theme/journal2/lib/selectivizr/selectivizr.min.js"></script><![endif]-->
        <?php if (isset($stores)): /* v1541 compatibility */ ?>
        <?php if ($stores) { ?>
        <script type="text/javascript">
        $(document).ready(function() {
        <?php foreach ($stores as $store) { ?>
        $('body').prepend('<iframe src="<?php echo $store; ?>" style="display: none;"></iframe>');
        <?php } ?>
        });
        </script>
        <?php } ?>
        <?php endif; /* end v1541 compatibility */ ?>
        <?php if (version_compare(VERSION, '2.1', '<')): ?>
        <?php echo $google_analytics; ?>
        <?php else: ?>
        <?php foreach ($analytics as $analytic) { ?>
        <?php echo $analytic; ?>
        <?php } ?>
        <?php endif; ?>
        <script>
            <?php if ($this->journal2->settings->get('show_countdown', 'never') !== 'never' || $this->journal2->settings->get('show_countdown_product_page', 'on') == 'on'): ?>
            Journal.COUNTDOWN = {
                DAYS    : "<?php echo $this->journal2->settings->get('countdown_days', 'Days'); ?>",
                HOURS   : "<?php echo $this->journal2->settings->get('countdown_hours', 'Hours'); ?>",
                MINUTES : "<?php echo $this->journal2->settings->get('countdown_min', 'Min'); ?>",
                SECONDS : "<?php echo $this->journal2->settings->get('countdown_sec', 'Sec'); ?>"
            };
            <?php endif; ?>
            Journal.NOTIFICATION_BUTTONS = '<?php echo $this->journal2->settings->get('notification_buttons'); ?>';
        </script>

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            { if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments) };
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '839297756253507');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1"
            src="https://www.facebook.com/tr?id=839297756253507&ev=PageView
            &noscript=1"/>
        </noscript>
        <!-- End Facebook Pixel Code -->

        //push notification
        <script src="https://cdn.pushassist.com/account/assets/psa-maninder739.js" async="async"></script>
    </head>
<body>
    <!--[if lt IE 9]>
    <div class="old-browser"><?php echo $this->journal2->settings->get('old_browser_message', 'You are using an old browser. Please <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade to a newer version</a> or <a href="http://browsehappy.com/">try a different browser</a>.'); ?></div>
    <![endif]-->
    <?php if ($this->journal2->settings->get('config_header_modules')):  ?>
    <?php echo $this->journal2->settings->get('config_header_modules'); ?>
    <?php endif; ?>
    <?php
    $header_type = $this->journal2->settings->get('header_type', 'default');
    if ($header_type === 'extended') {
        $header_type = 'default';
    }
    if ($header_type === 'compact') {
        $header_type = 'compact';
    }
    if ($header_type === 'center') {
        $header_type = 'center';
    }
    if ($header_type === 'mega') {
        $header_type = 'mega';
    }
    if (class_exists('VQMod')) {
    global $vqmod;
    if ($vqmod !== null) {
        require $vqmod->modCheck(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
    } else {
        require VQMod::modCheck(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
    }
    } else {
        require modification(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
    }
    ?>
    <?php if ($this->journal2->settings->get('config_top_modules')): ?>
    <div id="top-modules">
        <?php if($member_type == 2  || ($member_type == 1 && $member_name == 'ShopPalCorporate') ) { ?>
            <?php echo $this->journal2->settings->get('config_top_modules'); ?>
        <?php } ?>
    </div>
    <?php endif; ?>

    <div class="extended-container">
