/*
  Journal - Advanced Opencart Theme Framework
  Version 2.9.8
  Copyright (c) 2017 Digital Atelier
  https://www.journal-theme.com/
*/
/******************************
 FOOTER
*******************************/
#footer {
  border: 0;
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: table;
  width: 100%; }
  #footer .product-wrapper {
    background: transparent;
    display: inline-block;
    box-shadow: none; }

.fullwidth-footer {
  max-width: 100%; }
  .fullwidth-footer #footer {
    overflow: visible;
    border-radius: 0; }
  .fullwidth-footer .bottom-footer {
    max-width: 100%;
    padding: 0; }

footer .column > h3 {
  margin-bottom: 12px; }

@media only screen and (max-width: 760px) {
  footer .column:only-of-type {
    margin-left: -15px;
    width: calc(100% + 15px); }

  .collapse-footer-columns footer .column > h3 {
    margin-bottom: 0; }
  .collapse-footer-columns footer .column > div > ul {
    margin-top: 12px; }
  .collapse-footer-columns footer .column.newsletter:last-of-type {
    padding-right: 15px; }
  .collapse-footer-columns footer .column:only-of-type {
    margin-left: 0;
    width: 100%; } }
footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  clear: both;
  display: table;
  z-index: 10; }
  footer .columns {
    overflow: hidden;
    padding-left: 15px;
    color: #E4E4E4; }
  footer .column {
    padding: 0 15px 5px 0;
    position: relative; }
    footer .column .journal-newsletter {
      margin-bottom: 0; }
    footer .column.newsletter > div {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto; }
    footer .column > h3 {
      color: #E4E4E4;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom-width: 1px;
      border-color: #333745;
      border-style: solid;
      padding-bottom: 12px;
      margin-top: 12px; }
  footer .column-menu-wrap > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    footer .column-menu-wrap > ul li {
      padding: 1px 0;
      color: #E4E4E4; }
      footer .column-menu-wrap > ul li:first-of-type {
        padding-top: 0; }
      footer .column-menu-wrap > ul li i {
        margin-right: 6px !important; }
    footer .column-menu-wrap > ul a {
      display: block;
      color: inherit;
      transition: color .2s; }
  footer .column-text-wrap a {
    transition: color 0.2s; }
  footer .column-text-wrap > ul {
    padding-left: 15px;
    margin: 0 0 7px 0; }
  footer .column-text-wrap > ol {
    padding-left: 20px;
    margin: 0 0 7px 0; }
  footer .column-text-wrap p {
    color: inherit;
    margin: 0;
    overflow: hidden;
    line-height: 1.3; }
    footer .column-text-wrap p span, footer .column-text-wrap p strong {
      line-height: 100% !important; }
    footer .column-text-wrap p iframe {
      width: 100%; }
  footer .column-text-wrap img {
    max-width: 100%;
    height: auto !important; }
  footer .contacts {
    position: relative;
    clear: both;
    display: table;
    width: 100%;
    padding: 10px; }
    footer .contacts > div > span .contact-icon {
      font-size: 20px;
      color: inherit;
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: 2px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      line-height: 39px;
      transition: background-color .2s;
      vertical-align: middle; }
      footer .contacts > div > span .contact-icon i {
        color: inherit;
        display: block;
        position: absolute;
        margin: 50% 0 0 50% !important;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      footer .contacts > div > span .contact-icon + a {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex; }
      footer .contacts > div > span .contact-icon:not([href]) {
        cursor: default; }
    footer .contacts [data-hint]:before, footer .contacts [data-hint]:after {
      display: block; }
    footer .contacts .hint--top:before {
      margin-left: -10px; }
    footer .contacts .hint--top:after,
    footer .contacts .hint--top:focus:after {
      -webkit-transform: translate3d(0, 0, 0) translateX(-54%);
      transform: translate3d(0, 0, 0) translateX(-54%); }
    footer .contacts .hint--top:hover:after,
    footer .contacts .hint--top:focus:after {
      -webkit-transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%);
      transform: translate3d(0, 0, 0) translateY(-8px) translateX(-54%); }
  footer .contacts-text {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: inherit;
    line-height: 36px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    vertical-align: top; }
  footer .contacts-center {
    margin: 0 auto;
    position: absolute;
    clear: both;
    width: 100%;
    top: 10px;
    right: 10px;
    z-index: 0; }
  footer .contacts-left {
    position: relative;
    float: left;
    z-index: 1; }
  footer .contacts-right {
    position: relative;
    float: right;
    z-index: 1; }
  footer .has-tooltip {
    margin: 0 1px; }
    footer .has-tooltip .contacts-text {
      display: none; }
  footer .contacts .hint--top:not(.has-tooltip)::before, footer .contacts .hint--top:not(.has-tooltip)::after {
    display: none; }

.column.products {
  padding-bottom: 12px; }
  .column.products > h3 {
    margin-bottom: 12px; }
  .column.products .product-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    transition: all 0.2s; }
    .column.products .product-wrapper .p-over {
      display: none; }
  .column.products .product-wrapper:hover {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none; }
  .column.products .product-details {
    margin: 0;
    background-color: transparent;
    padding-bottom: 0;
    float: left;
    max-width: 150px;
    padding-left: 8px; }
  .column.products .product-details:before {
    content: ""; }
  .column.products .product-grid-item {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
    text-align: left;
    padding: 5px 0; }
    .column.products .product-grid-item .quickview-button {
      display: none !important; }
    .column.products .product-grid-item:first-of-type {
      padding-top: 2px; }
    .column.products .product-grid-item .image {
      display: block;
      float: left;
      position: relative;
      width: auto; }
      .column.products .product-grid-item .image span {
        display: none !important; }
      .column.products .product-grid-item .image a {
        background: transparent !important;
        margin-top: 1px;
        line-height: 100%;
        border-radius: 0;
        border: none; }
      .column.products .product-grid-item .image img {
        border: 0;
        display: block;
        padding: 0;
        max-width: 50px; }
    .column.products .product-grid-item .name {
      position: relative; }
      .column.products .product-grid-item .name a {
        font-size: 12px;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 0 0 1px 0;
        transition: all 0.2s; }
    .column.products .product-grid-item .sale {
      display: none; }
    .column.products .product-grid-item .price {
      display: inline-block;
      font-size: 13px;
      padding: 0;
      text-align: left;
      border: none;
      margin-bottom: 0;
      background-color: transparent;
      border-radius: 0; }
    .column.products .product-grid-item .price-old {
      font-weight: normal;
      color: #EA2E49;
      padding-right: 0;
      text-decoration: line-through;
      font-size: 12px; }
    .column.products .product-grid-item .price-new {
      font-size: 13px; }
    .column.products .product-grid-item .rating {
      position: relative;
      margin: 0;
      left: 0;
      top: 0;
      padding: 0; }
    .column.products .product-grid-item .cart {
      display: none !important; }
    .column.products .product-grid-item .cart input {
      color: white;
      text-transform: none;
      font-weight: bold; }
  .column.products .product-grid-item:last-of-type {
    border-bottom: none; }

.bottom-footer {
  height: 60px;
  clear: both;
  margin: 0 auto;
  position: relative; }
  .bottom-footer > div {
    max-width: 1024px;
    margin: 0 auto;
    position: relative; }
  .bottom-footer .copyright {
    margin-left: 30px;
    float: left;
    line-height: 60px; }
  .bottom-footer .payments {
    float: left; }
    .bottom-footer .payments a {
      display: inline-block; }
      .bottom-footer .payments a:not(.last-of-type) {
        margin-right: 8px; }
      .bottom-footer .payments a img {
        margin-left: 0; }
    .bottom-footer .payments img {
      max-width: 100%;
      max-height: 35px;
      height: auto;
      width: auto;
      margin-left: 10px;
      position: relative;
      margin-top: 13px;
      vertical-align: middle; }
  .bottom-footer .no-copyright {
    text-align: center; }
    .bottom-footer .no-copyright .payments {
      float: none; }
      .bottom-footer .no-copyright .payments img:first-of-type {
        margin-left: 0; }
  .bottom-footer .no-payments {
    text-align: center; }
    .bottom-footer .no-payments .copyright {
      float: none; }
  .bottom-footer.boxed-bar {
    padding: 0 15px; }

.column-text-wrap.has-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .column-text-wrap.has-icon > div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .column-text-wrap.has-icon > span:only-child {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .column-text-wrap.has-icon .block-icon-left + p {
    display: inline; }

.column-text-wrap.has-icon.block-icon-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.newsletter.no-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .newsletter.no-title > div {
    width: 100%; }

footer .no-icon .contact-icon {
  display: none !important; }
footer .column.text {
  min-height: 50px; }

@media only screen and (max-width: 760px) {
  .journal-newsletter.text-top .newsletter-input-wrap input {
    min-height: 35px; } }
