@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";
@font-face{font-family:'bpicons';src:url(../fonts/bpicons/bpicons.eot);src:url(../fonts/bpicons/bpicons.eot?#iefix) format("embedded-opentype"),url(../fonts/bpicons/bpicons.woff) format("woff"),url(../fonts/bpicons/bpicons.ttf) format("truetype"),url(../fonts/bpicons/bpicons.svg#bpicons) format("svg");font-weight:400;font-style:normal}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.mainproddiv_pmcbd{font-family:'Lato',Calibri,Arial,sans-serif;color:#47a3da}
.ribbon_pmcbd{position:absolute;left:-5px;top:-5px;z-index:1;overflow:hidden;width:75px;height:75px;text-align:right}
.ribbon_pmcbd span{font-size:12px;font-weight:700;color:#FFF;text-transform:uppercase;text-align:center;line-height:20px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);width:100px;display:block;background:#79A70A;background:linear-gradient(#F70505 0%,#8F0808 100%);box-shadow:0 3px 10px -5px rgba(0,0,0,1);position:absolute;top:19px;left:-21px}
.ribbon_pmcbd span::before{content:"";position:absolute;left:0;top:100%;z-index:-1;border-left:3px solid #8F0808;border-right:3px solid transparent;border-bottom:3px solid transparent;border-top:3px solid #8F0808}
.ribbon_pmcbd span::after{content:"";position:absolute;right:0;top:100%;z-index:-1;border-left:3px solid transparent;border-right:3px solid #8F0808;border-bottom:3px solid transparent;border-top:3px solid #8F0808}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.openwebpopup h2{margin-top:0;color:#333;font-family:Tahoma,Arial,sans-serif}
.openwebpopup .openwebclose{position:absolute;top:20px;right:30px;transition:all .2s;font-size:30px;font-weight:700;text-decoration:none;color:#333;cursor:pointer}
.openwebpopup .openwebclose:hover{color:#06D85F}
.openwebpopup .openwebcontent{max-height:30%;overflow:auto}
.openweboverlay:target:before{display:none}
.openweboverlay:before{content:"";top:0;left:0;right:0;bottom:0;display:block;background:rgba(0,0,0,0.6);position:fixed;z-index:9}
.openweboverlay .openwebpopup{background:#fff;border-radius:5px;width:30%;position:fixed;top:0;left:35%;padding:25px;margin:70px auto;z-index:10;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;transition:all .6s ease-in-out}
.openweboverlay:target .openwebpopup{top:-100%;left:-100%}
.plussign{font-size:30px;color:#000;font-weight:700;margin:0}
@media screen and (max-width: 768px) {
.box{width:70%}
.openweboverlay .openwebpopup{width:70%;left:15%}
}
.prcold{font-size:16px;color:#47a3da}
.prcnew{font-size:1em;font-weight:700;color:green;margin:1px;}
.prcsave{font-size:17px;font-weight:700;color:green}
.pmcbdprodprc{text-align:center!important}
.pmcbdprodprc .prcold{text-decoration:line-through!important;font-size:14px!important;margin:1px}
.pmcbdtotalval{padding:10px}
@font-face{font-family:'fontawesome';src:url(../fonts/fontawesome/fontawesome.eot);src:url(../fonts/fontawesome/fontawesome.eot?#iefix) format("embedded-opentype"),url(../fonts/fontawesome/fontawesome.woff) format("woff"),url(../fonts/fontawesome/fontawesome.ttf) format("truetype"),url(../fonts/fontawesome/fontawesome.svg#fontawesome) format("svg");font-weight:400;font-style:normal}
.cbp-vm-switcher_pmcbd{border:1px solid #ccc}
.cbp-vm-options{text-align:right;padding-bottom:10px;border-bottom:3px solid #47a3da}
.cbp-vm-options a{display:inline-block;width:40px;height:40px;overflow:hidden;white-space:nowrap;color:#d0d0d0;margin:2px}
.cbp-vm-options a:hover,.cbp-vm-options a.cbp-vm-selected{color:#47a3da}
.cbp-vm-options a:before{width:40px;height:40px;line-height:40px;font-size:30px;text-align:center;display:inline-block}
.cbp-vm-switcher_pmcbd ul{list-style:none;padding:0;margin:0}
.cbp-vm-switcher_pmcbd ul:before,.cbp-vm-switcher_pmcbd ul:after{content:" ";display:table}
.cbp-vm-switcher_pmcbd ul:after{clear:both}
.cbp-vm-switcher_pmcbd ul li{display:block;position:relative}
.cbp-vm-image_pmcbd{display:block;margin:0 auto}
.cbp-vm-image_pmcbd img{display:inline-block;max-width:100%;border:none}
.cbp-vm-title_pmcbd{margin:0;padding:0}
.cbp-vm-price_pmcbd{color:silver}
.cbp-vm-add_pmcbd{color:#fff;background:#47a3da;padding:10px 20px;border-radius:2px;margin:20px 0 0;display:inline-block;transition:background .2s;cursor:pointer}
.cbp-vm-add_pmcbd:hover{color:#fff;background:#02639d}
.cbp-vm-add_pmcbd:before{margin-right:5px}
.cbp-vm-icon_pmcbd:before{font-family:'fontawesome';speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.cbp-vm-grid:before{content:"\f00a"}
.cbp-vm-list:before{content:"\f00b"}
.cbp-vm-add_pmcbd:before{content:"\f055"}
.cbp-vm-view-grid_pmcbd ul{text-align:left}
.cbp-vm-view-grid_pmcbd ul li{width:auto;text-align:center;display:inline-block;vertical-align:middle;width:auto}
.cbp-vm-view-grid_pmcbd ul li:last-child{min-height:250px;vertical-align:middle}
.cbp-vm-view-grid_pmcbd .cbp-vm-title_pmcbd{font-size:1em;width:190px;padding-top:1px}
.cbp-vm-view-grid_pmcbd .cbp-vm-details{max-width:300px;min-height:70px;margin:0 auto}
.cbp-vm-view-grid_pmcbd .cbp-vm-price_pmcbd{margin:1px 0;font-size:1em;text-align:left}
.cbp-vm-view-list li{padding:20px 0;white-space:nowrap}
.cbp-vm-view-list .cbp-vm-image_pmcbd,.cbp-vm-view-list .cbp-vm-title_pmcbd,.cbp-vm-view-list .cbp-vm-details,.cbp-vm-view-list .cbp-vm-price_pmcbd,.cbp-vm-view-list .cbp-vm-add_pmcbd{display:inline-block;vertical-align:middle}
.cbp-vm-view-list .cbp-vm-image_pmcbd{width:10%}
.cbp-vm-view-list .cbp-vm-title_pmcbd{font-size:1.3em;padding:0 10px;white-space:normal;width:23%}
.cbp-vm-view-list .cbp-vm-price_pmcbd{font-size:1.3em;width:10%}
.cbp-vm-view-list .cbp-vm-details{width:40%;padding:0 15px;overflow:hidden;white-space:normal}
.cbp-vm-view-list .cbp-vm-add_pmcbd{margin:0}
@media screen and (max-width: 66.7em) {
.cbp-vm-view-list .cbp-vm-details{width:30%}
}
@media screen and (max-width: 57em) {
.cbp-vm-view-grid_pmcbd ul li{width:49%}
}
@media screen and (max-width: 47.375em) {
.cbp-vm-view-list .cbp-vm-image_pmcbd{width:20%}
.cbp-vm-view-grid_pmcbd .cbp-vm-title_pmcbd{width:auto}
.cbp-vm-view-list .cbp-vm-details{display:block;width:100%;margin:10px 0}
.cbp-vm-view-list .cbp-vm-add_pmcbd{margin:10px}
}
@media screen and (max-width: 40.125em) {
.cbp-vm-view-grid_pmcbd ul li{width:100%}
}
.ribtext_getpmcbd{position:absolute;left:0;top:0;z-index:1;overflow:hidden;width:130px;height:130px;text-align:right}
.ribtext_getpmcbd span{font-size:14px;font-weight:700;color:#FFF;text-transform:uppercase;text-align:center;line-height:27px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);width:150px;display:block;background:#C00;background:linear-gradient(#C00 0%,#C33 100%);box-shadow:0 3px 10px -5px rgba(0,0,0,1);position:absolute;top:32px;left:-32px;font-family:Verdana,Arial,Helvetica,sans-serif}
.ribtext_getpmcbd span::before{content:"";position:absolute;left:0;top:100%;z-index:-1;border-left:3px solid #C33;border-right:3px solid transparent;border-bottom:3px solid transparent;border-top:3px solid #C33}
.ribtext_getpmcbd span::after{content:"";position:absolute;right:0;top:100%;z-index:-1;border-left:3px solid transparent;border-right:3px solid #C33;border-bottom:3px solid transparent;border-top:3px solid #C33}