<?php
//==============================================================================
// Individual Shipping v302.1
// 
// Author: Clear Thinking, LLC
// E-mail: johnathan@getclearthinking.com
// Website: http://www.getclearthinking.com
// 
// All code within this file is copyright Clear Thinking, LLC.
// You may not copy or reuse code within this file without written permission.
//==============================================================================
?>

<style type="text/css">
	tr:hover td, td > label {
		background: #FFF !important;
		cursor: default !important;
		height: auto !important;
	}
	<?php if (count($enabled_methods) == 1) { ?>
		input[value="individual_shipping.individual_shipping"] {
			display: none;
		}
	<?php } ?>
	#individual-shipping {
		border-left: 20px solid #EEE;
		min-width: 400px;
	}
	#individual-shipping strong:first-child {
		margin-top: 0;
	}
	#individual-shipping .group-title {
		background: #EEE;
		display: block;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 0;
		margin: 10px 0;
	}
	#individual-shipping img {
		display: inline-block;
		padding: 5px;
		vertical-align: top;
	}
	#individual-shipping .product-name {
		font-weight: bold;
	}
	#individual-shipping .product-option {
		font-size: 11px;
	}
	#individual-shipping hr {
		margin: 5px;
	}
	#individual-shipping .rate-title, #individual-shipping label {
		background: #FFF;
		display: block;
		padding: 5px 0 5px 15px;
	}
	#individual-shipping input[type="radio"] {
		margin: 3px 8px 0 0 !important;
		position: static;
	}
	#individual-shipping .error {
		padding: 0 0 7px 15px;
	}
	#individual-shipping label:hover {
		background: #F1FFDD;
	}
	#individual-shipping .quote-title {
		display: inline-block;
		width: 50%;
	}
</style>


<div id="individual-shipping">
	<?php foreach ($shipping_groups as $group) { ?>
		<div class="shipping-group">
			<div class="group-title"><?php echo $group['title']; ?></div>
			
			<?php foreach ($group['products'] as $group_product) { ?>
				<div class="group-product">
					<img src="<?php echo $group_product['image']; ?>" />
					<div style="display: inline-block">
						<div class="product-name"><?php echo $group_product['name']; ?></div>
						<?php foreach ($group_product['option'] as $option) { ?>
							<div class="product-option"><?php echo $option['name'] . ': ' . $option['value']; ?></div>
						<?php } ?>
					</div>
				</div>
				<hr />
			<?php } ?>
			
			<?php $checked = true; ?>
			
			<?php foreach ($group['shipping_rates'] as $shipping_rate) { ?>
				<b class="rate-title"><?php echo $shipping_rate['title']; ?></b>
				
				<?php if ($shipping_rate['error']) { ?>
					<div class="error"><?php echo $shipping_rate['error']; ?></div>
				<?php } else { ?>
					<?php foreach ($shipping_rate['quote'] as $quote) { ?>
						<?php if (isset($this->session->data['individual_shipping']) && !empty($this->session->data['individual_shipping'][str_replace(array(' ', '.'), '_', $group['key'])])) {
							$checked = ($this->session->data['individual_shipping'][str_replace(array(' ', '.'), '_', $group['key'])] == ($group['name'] . '::' . htmlentities($quote['title'], ENT_QUOTES,'UTF-8') . '::' . $quote['cost'] . '::' . $quote['tax_class_id']));
						} ?>
						<label>
							<input onchange="apply()" type="radio" name="<?php echo $group['key']; ?>" value="<?php echo $group['name'] . '::' . htmlentities($quote['title']) . '::' . $quote['cost'] . '::' . $quote['tax_class_id']; ?>" <?php if ($checked) echo 'checked="checked"'; ?> />
							<span class="quote-title"><?php echo html_entity_decode($quote['title'], ENT_QUOTES, 'UTF-8'); ?></span>
							<?php echo $quote['text']; ?>
						</label>
						<?php if ($checked) $cost += $quote['cost']; ?>
						<?php if ($checked) $tax_class_id = $quote['tax_class_id']; ?>
						<?php $checked = false; ?>
					<?php } ?>
				<?php } ?>
				
			<?php } ?>
		</div>
	<?php } ?>
</div>


<script type="text/javascript">
	$('#individual-shipping .shipping-group').each(function(){
		if (!$(this).find(':checked').length) {
			$(this).find('input').first().click();
		}
	});
	
	function apply() {
		$.ajax({
			type: 'POST',
			url: 'index.php?route=extension/shipping/individual_shipping/apply',
			data: $('#individual-shipping input:checked'),
			success: function(data){
				$('#individual-shipping').parent().find('> span').html(data).click();
			}
		});
	}
	setTimeout(apply, 1);
</script>