{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> Edit Admin Menu Minifier module</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label">Extension status</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if module_menu_min_status %}
                <input type="radio" name="module_menu_min_status" value="1" checked="checked" />
                enabled
                {% else %}
                <input type="radio" name="module_menu_min_status" value="1" />
                enabled
                {% endif %}
              </label>
              <label class="radio-inline">
                {% if not module_menu_min_status %}
                <input type="radio" name="module_menu_min_status" value="0" checked="checked" />
                disabled
                {% else %}
                <input type="radio" name="module_menu_min_status" value="0" />
                disabled
                {% endif %}
              </label>
            </div>
          </div>

          <fieldset>
              <legend>Catalog tab</legend>

              <div class="form-group">
                <label class="col-sm-2 control-label">Categories</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_categories %}
                    <input type="radio" name="module_menu_min_categories" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_categories" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_categories %}
                    <input type="radio" name="module_menu_min_categories" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_categories" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Products</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_products %}
                    <input type="radio" name="module_menu_min_products" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_products" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_products %}
                    <input type="radio" name="module_menu_min_products" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_products" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Recurring Profiles</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_recurring_profiles %}
                    <input type="radio" name="module_menu_min_recurring_profiles" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_recurring_profiles" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_recurring_profiles %}
                    <input type="radio" name="module_menu_min_recurring_profiles" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_recurring_profiles" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Filters</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_filters %}
                    <input type="radio" name="module_menu_min_filters" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_filters" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_filters %}
                    <input type="radio" name="module_menu_min_filters" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_filters" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Attributes</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_attributes %}
                    <input type="radio" name="module_menu_min_attributes" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_attributes" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_attributes %}
                    <input type="radio" name="module_menu_min_attributes" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_attributes" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Options</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_options %}
                    <input type="radio" name="module_menu_min_options" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_options" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_options %}
                    <input type="radio" name="module_menu_min_options" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_options" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Manufacturers</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_manufacturers %}
                    <input type="radio" name="module_menu_min_manufacturers" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_manufacturers" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_manufacturers %}
                    <input type="radio" name="module_menu_min_manufacturers" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_manufacturers" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Downloads</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_downloads %}
                    <input type="radio" name="module_menu_min_downloads" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_downloads" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_downloads %}
                    <input type="radio" name="module_menu_min_downloads" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_downloads" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Reviews</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_reviews %}
                    <input type="radio" name="module_menu_min_reviews" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_reviews" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_reviews %}
                    <input type="radio" name="module_menu_min_reviews" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_reviews" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Information</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_information %}
                    <input type="radio" name="module_menu_min_information" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_information" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_information %}
                    <input type="radio" name="module_menu_min_information" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_information" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>


          </fieldset>

          <fieldset>
              <legend>Extensions tab</legend>

              <div class="form-group">
                <label class="col-sm-2 control-label">Marketplace</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_marketplace %}
                    <input type="radio" name="module_menu_min_marketplace" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_marketplace" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_marketplace %}
                    <input type="radio" name="module_menu_min_marketplace" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_marketplace" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Installer</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_installer %}
                    <input type="radio" name="module_menu_min_installer" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_installer" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_installer %}
                    <input type="radio" name="module_menu_min_installer" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_installer" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Extensions</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_extensions %}
                    <input type="radio" name="module_menu_min_extensions" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_extensions" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_extensions %}
                    <input type="radio" name="module_menu_min_extensions" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_extensions" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Modifications</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_modifications %}
                    <input type="radio" name="module_menu_min_modifications" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_modifications" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_modifications %}
                    <input type="radio" name="module_menu_min_modifications" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_modifications" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Events</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_events %}
                    <input type="radio" name="module_menu_min_events" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_events" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_events %}
                    <input type="radio" name="module_menu_min_events" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_events" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>


          </fieldset>


          <fieldset>
                <legend>Design tab</legend> 

                <div class="form-group">
                <label class="col-sm-2 control-label">Layouts</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_layouts %}
                    <input type="radio" name="module_menu_min_layouts" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_layouts" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_layouts %}
                    <input type="radio" name="module_menu_min_layouts" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_layouts" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Theme editor</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_theme_editor %}
                    <input type="radio" name="module_menu_min_theme_editor" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_theme_editor" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_theme_editor %}
                    <input type="radio" name="module_menu_min_theme_editor" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_theme_editor" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Language editor</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_language_editor %}
                    <input type="radio" name="module_menu_min_language_editor" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_language_editor" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_language_editor %}
                    <input type="radio" name="module_menu_min_language_editor" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_language_editor" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Banners</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_banners %}
                    <input type="radio" name="module_menu_min_banners" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_banners" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_banners %}
                    <input type="radio" name="module_menu_min_banners" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_banners" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">SEO urls</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_seo_urls %}
                    <input type="radio" name="module_menu_min_seo_urls" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_seo_urls" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_seo_urls %}
                    <input type="radio" name="module_menu_min_seo_urls" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_seo_urls" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>


          </fieldset>

          <fieldset>
            <legend>Sales tab</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Orders</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_orders %}
                    <input type="radio" name="module_menu_min_orders" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_orders" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_orders %}
                    <input type="radio" name="module_menu_min_orders" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_orders" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Recurring orders</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_recurring_orders %}
                    <input type="radio" name="module_menu_min_recurring_orders" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_recurring_orders" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_recurring_orders %}
                    <input type="radio" name="module_menu_min_recurring_orders" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_recurring_orders" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Returns</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_returns %}
                    <input type="radio" name="module_menu_min_returns" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_returns" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_returns %}
                    <input type="radio" name="module_menu_min_returns" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_returns" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Gift vouchers</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_gift_vouchers %}
                    <input type="radio" name="module_menu_min_gift_vouchers" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_gift_vouchers" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_gift_vouchers %}
                    <input type="radio" name="module_menu_min_gift_vouchers" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_gift_vouchers" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>


          <fieldset>
            <legend>Customers tab</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Customers</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_customers %}
                    <input type="radio" name="module_menu_min_customers" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_customers" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_customers %}
                    <input type="radio" name="module_menu_min_customers" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_customers" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Customer groups</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_customer_groups %}
                    <input type="radio" name="module_menu_min_customer_groups" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_customer_groups" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_customer_groups %}
                    <input type="radio" name="module_menu_min_customer_groups" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_customer_groups" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Customer approvals</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_customer_approvals %}
                    <input type="radio" name="module_menu_min_customer_approvals" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_customer_approvals" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_customer_approvals %}
                    <input type="radio" name="module_menu_min_customer_approvals" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_customer_approvals" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Custom fields</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_custom_fields %}
                    <input type="radio" name="module_menu_min_custom_fields" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_custom_fields" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_custom_fields %}
                    <input type="radio" name="module_menu_min_custom_fields" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_custom_fields" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>


          <fieldset>
            <legend>Marketing tab</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Marketing</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_marketing %}
                    <input type="radio" name="module_menu_min_marketing" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_marketing" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_marketing %}
                    <input type="radio" name="module_menu_min_marketing" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_marketing" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Coupons</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_coupons %}
                    <input type="radio" name="module_menu_min_coupons" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_coupons" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_coupons %}
                    <input type="radio" name="module_menu_min_coupons" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_coupons" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Mail</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_mail %}
                    <input type="radio" name="module_menu_min_mail" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_mail" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_mail %}
                    <input type="radio" name="module_menu_min_mail" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_mail" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>


          <fieldset>
            <legend>System tab</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Settings</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_settings %}
                    <input type="radio" name="module_menu_min_settings" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_settings" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_settings %}
                    <input type="radio" name="module_menu_min_settings" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_settings" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Users</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_users %}
                    <input type="radio" name="module_menu_min_users" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_users" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_users %}
                    <input type="radio" name="module_menu_min_users" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_users" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Localisation</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_localisation %}
                    <input type="radio" name="module_menu_min_localisation" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_localisation" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_localisation %}
                    <input type="radio" name="module_menu_min_localisation" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_localisation" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Maintenance</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_maintenance %}
                    <input type="radio" name="module_menu_min_maintenance" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_maintenance" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_maintenance %}
                    <input type="radio" name="module_menu_min_maintenance" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_maintenance" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>


          <fieldset>
            <legend>Reports tab</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Reports</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_reports %}
                    <input type="radio" name="module_menu_min_reports" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_reports" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_reports %}
                    <input type="radio" name="module_menu_min_reports" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_reports" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Who's online</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_whos_online %}
                    <input type="radio" name="module_menu_min_whos_online" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_whos_online" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_whos_online %}
                    <input type="radio" name="module_menu_min_whos_online" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_whos_online" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Statistics</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_statistics %}
                    <input type="radio" name="module_menu_min_statistics" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_statistics" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_statistics %}
                    <input type="radio" name="module_menu_min_statistics" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_statistics" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>


          <fieldset>
            <legend>Hide entire tabs</legend> 

            <div class="form-group">
                <label class="col-sm-2 control-label">Catalog tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_catalog_tab %}
                    <input type="radio" name="module_menu_min_catalog_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_catalog_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_catalog_tab %}
                    <input type="radio" name="module_menu_min_catalog_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_catalog_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Extensions tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_extensions_tab %}
                    <input type="radio" name="module_menu_min_extensions_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_extensions_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_extensions_tab %}
                    <input type="radio" name="module_menu_min_extensions_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_extensions_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Design tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_design_tab %}
                    <input type="radio" name="module_menu_min_design_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_design_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_design_tab %}
                    <input type="radio" name="module_menu_min_design_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_design_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Sales tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_sales_tab %}
                    <input type="radio" name="module_menu_min_sales_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_sales_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_sales_tab %}
                    <input type="radio" name="module_menu_min_sales_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_sales_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Customers tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_customers_tab %}
                    <input type="radio" name="module_menu_min_customers_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_customers_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_customers_tab %}
                    <input type="radio" name="module_menu_min_customers_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_customers_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Marketing tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_marketing_tab %}
                    <input type="radio" name="module_menu_min_marketing_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_marketing_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_marketing_tab %}
                    <input type="radio" name="module_menu_min_marketing_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_marketing_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">System tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_system_tab %}
                    <input type="radio" name="module_menu_min_system_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_system_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_system_tab %}
                    <input type="radio" name="module_menu_min_system_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_system_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Reports tab</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    {% if module_menu_min_reports_tab %}
                    <input type="radio" name="module_menu_min_reports_tab" value="1" checked="checked" />
                    hide
                    {% else %}
                    <input type="radio" name="module_menu_min_reports_tab" value="1" />
                    hide
                    {% endif %}
                  </label>
                  <label class="radio-inline">
                    {% if not module_menu_min_reports_tab %}
                    <input type="radio" name="module_menu_min_reports_tab" value="0" checked="checked" />
                    show
                    {% else %}
                    <input type="radio" name="module_menu_min_reports_tab" value="0" />
                    show
                    {% endif %}
                  </label>
                </div>
              </div>

          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}