<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-product_subscribe" class="form-horizontal">
				<table class="form">
				  <div class="table-responsive">
					<table class="table table-bordered table-hover">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-add-shipping"><?php echo $entry_add_shipping; ?><span data-toggle="tooltip" title="<?php echo $help_add_shipping; ?>"></span></label>
							<div class="col-sm-10">
							<select name="product_subscribe_add_shipping" class="form-control">
								<?php if ($product_subscribe_add_shipping) { ?>
									<option value="1" selected="selected"><?php echo $text_yes; ?></option>
									<option value="0"><?php echo $text_no; ?></option>
								<?php } else { ?>
									<option value="1"><?php echo $text_yes; ?></option>
									<option value="0" selected="selected"><?php echo $text_no; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-add-shipping"><?php echo $entry_add_taxes; ?><span data-toggle="tooltip" title="<?php echo $help_add_taxes; ?>"></span></label>
							<div class="col-sm-10">
							<select name="product_subscribe_add_taxes" class="form-control">
								<?php if ($product_subscribe_add_taxes) { ?>
									<option value="1" selected="selected"><?php echo $text_yes; ?></option>
									<option value="0"><?php echo $text_no; ?></option>
								<?php } else { ?>
									<option value="1"><?php echo $text_yes; ?></option>
									<option value="0" selected="selected"><?php echo $text_no; ?></option>
								<?php } ?>
							</select>
						</div>
					</div>
					<div class="form-group">
					  <label class="col-sm-2 control-label" for="input-recurring-add-order"><?php echo $entry_recurring_add_order; ?><span data-toggle="tooltip" title="<?php echo $help_recurring_add_order; ?>"></span></label>
					  <div class="col-sm-10">
							<select name="product_subscribe_recurring_add_order" class="form-control">
								<?php if ($product_subscribe_recurring_add_order) { ?>
							<option value="0"><?php echo $text_no; ?></option>
							<option value="1" selected="selected"><?php echo $text_yes; ?></option>
								<?php } else { ?>
							<option value="0" selected="selected"><?php echo $text_no; ?></option>
							<option value="1"><?php echo $text_yes; ?></option>
								<?php } ?>
							</select>	
						</div>
					</div>
				</table>
			</form>
		</div>
	</div>
</div>
<?php echo $footer; ?>
